<?xml version="1.0"?>
<robot name="dummy" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find unitree_hardware)/urdf/primitive.urdf.xacro"/>
  <xacro:include filename="$(find unitree_hardware)/urdf/material.urdf.xacro"/>
  <xacro:include filename="$(find unitree_hardware)/urdf/dummy.ros2_control.urdf.xacro"/>

  <xacro:make_box_link name="base_link"
                       xyz="0 0 0.2"
                       rpy="0 0 0"
                       mass="1.0"
                       width="0.4"
                       length="0.4"
                       height="0.4"
                       color="grey"/>

  <xacro:make_box_link name="pan_link"
                       xyz="0 0 0.1"
                       rpy="0 0 0"
                       mass="1.0"
                       width="0.4"
                       length="0.4"
                       height="0.2"
                       color="green"/>
  
  <xacro:make_continuous_joint name="pan_joint"
                               xyz="0 0 0.4"
                               rpy="0 0 0"
                               parent="base_link"
                               child="pan_link"
                               axis="0 0 1"
                               effort="0.5"
                               velocity="0.3"/>

  <xacro:make_dummy_ros2_control name="dummy_ros2_control"/>
</robot>